* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.divWraper{
    display: flex;

}
.divleft{
    display: flex;
    flex-direction: column;
   max-width: 296px;
   width: 100%;
    height: 1262px;
    background: #14171F;
    padding: 0 24px;
    justify-content: space-between;

}
.stylegap{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.divleftFooter{
    display: flex;
    padding: 0px 16px 16px 16px;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    border-bottom: 1px solid #3D414B;



}
.stylepadding{
    display: flex;
    justify-content: center;
    padding: 24px;
}
.divleftFooter span{
    color: #FFF;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    text-transform: uppercase;
    align-self: center;
    

}
.profileStyle{
    width:  248px;
    display: flex;
    justify-content: space-between; 
    padding: 12px 0;
    align-items: center;
    border-top: 1px solid #7D70BD;
    border-bottom: 1px solid #7D70BD;


}
.profileStyletwo{
    display: flex;
    align-items: center;
    gap: 8px;
}
.profileStylethree{
    display: flex;
    flex-direction: column;
}
.profileStylethree p{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.profileStylethree span{
    color: #929699;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; 

}

.iconarrowstyle{
    display: flex;
    align-items: center;

}
.liststyle{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.liststyleone{
    display: flex;
    align-items: flex-end;
    gap: 12px;
} 
.liststyleone span{
    color: #929699;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 

}
.divleftbolo{
    display: flex;
    width: 248px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    
}
.buitdiv{
    height: 1px;
align-self: stretch;
border: 1px solid #3D414B;

background: #24272E;
}
.buttonSetting{
    display: flex;
    justify-content: center;
    padding: 12px 24px;
    border-radius: 8px;
    border: 1px solid #7B62FF;
    gap: 9px;
}
.buttonSetting button{
    display: flex;
    color: #7B62FF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    gap: 12px;
    background: #14171F;



}
.divbetween{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.styledivBetween{
    display: flex;
    align-items: flex-end;
    gap: 12px;
    align-self: stretch;
}
.styledivBetween span{
    color: #929699;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}
.divright{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
header{
    display: flex;
    flex-direction: column;
    gap: 39px;
}
.conteiner{
    
    padding: 24px 32px;
}
.divstyleheder{
    display: flex;
    justify-content: space-between;

}
.burgerstyle{
    display: flex;
    gap: 24px;
}


ul {
    list-style: none;
}
.navstyle ul{
    display: flex;
    gap: 24px;
    
}

.liststyle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: #2F2F2F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    
}
.styleboxheder{
    display: flex;
    align-items: center;
    gap: 10px;
}
.styleboxheder button{
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #C7C7C7;
    background: #F7F7F7;

}
h1{
    color: #2F2F2F;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
   
}
main{
    display: flex;
    flex-direction: column;
    gap: 32px;

}
.style{
    width: 1080px;
    height: 228px;
    padding: 0 24px;
    background-image: url("img/image\ 2.png");
    border-radius: 16px;
    border: 1px solid #C7C7C7;
    

}
.styleh1{
max-width: 416px;
width: 100%;

}
.mainnav{
    
    max-width: 1080px;
    width: 100%;
}
.mainNav ul{
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;

}
.mainnavul{
    display: flex;
    color: #2F2F2F;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #C7C7C7;
}
.formdiv{
    display: flex;
    gap: 32px;
   

}
.formbox{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.personalbox{
    width: 670px;
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 16px;
    border-radius: 16px;
    border: 1px solid #C7C7C7;


}
.informacionBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.stylespan{
    color: #14171F;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    

}
.stylep{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
}
.fullname{
    display: flex;
    gap: 16px;
}

.stylefullname{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
     gap: 8px;
    flex: 1 0 0;
}
.stylefullname label{
    color: #2F2F2F;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
}


.stylefullname input{
    padding: 12px 16px;
    border-radius: 8px;
    align-items: center;
    border: 1px solid #C7C7C7;
    background: #F9FBFC;
}
.contactBox{
    display: flex;
     align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    

}

.stylenamber{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;

}
.stylebirthday{
    display: flex;

}


.buttonstyleSave{
    display: flex;
    flex-direction: row-reverse;
   

}
.buttonstyleSave button{
    color: #FFF;
    width: 104px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 10px 24px;
    border-radius: 8px;
    background: #7F56D9;

} 
.stylebuttonblake{
    
}
.personalboxmain{
    width: 702px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.personalboxone{
    width: 432px;
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 16px;
    border-radius: 16px;
    border: 1px solid #C7C7C7;
}
.personalspan span{
    color: #14171F;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

}
.boxadicional{

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.personalboxtwo{
    width: 214px;
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 16px;
    border-radius: 16px;
    border: 1px solid #C7C7C7;
}
.stylelabel{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.styleoption{
    display: flex;
}


.development{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;


}
.departamentBox{
    width: 368px;
    height: 73px;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;

}
.departamentBox img{
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}
.departamentBox p{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 

}

.frontdevelopment{
    display: flex;
    gap: 24px;
}
.personalconteiner{
    display: flex;
    width: 346px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    background: #14171F;
}
.frofilediv{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 12px;
    background: #FFF;
}
.styleprofile{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}
.profilebox{
    width: 124px;
    height: 124px;
    flex-shrink: 0;
    background-image:  url("icon/Group.png"), url("img/Rectangle\ 4.png");
   background-repeat:no-repeat;
   background-position: center;
    
    
} 
.iconstyle{
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 8px;
    border-radius: 600px;
    border: 1px solid #C7C7C7;
}
.divprofileName{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.divprofileName p{
    color: #2F2F2F;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    
}
.profileProfecion{
    display: flex;
    gap: 16px;
}
.profileProfecion span{

    color: #2F2F2F;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #C7C7C7;
}
.divlocacion{
    
    display: flex;
    padding: 16px;
   flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 12px;
    background: #FFF;
}
.styleiconplus{
    width: 282px;
    display: flex;
    justify-content: space-between;
}
.styleiconplus span{
    color: #2F2F2F;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.divebaut{
    width: 282px;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.divebaut span{
    color: #2F2F2F;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.styleebautP{
    display: flex;
    padding: 12px 16px;
    align-items: center;
     gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
}
.styleebautP p{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

}
.divstyleheder img{
    display: none;
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px){
    .divleft{
        display: none;
    }
    .divstyleheder img{
        display: inline;
    }
    .mainNavul{
        flex-wrap: wrap;
    }
    .formdiv{
        flex-direction: column;
            order: 1;
            
    }
    .divright{
        gap: 24px;
    }
    
}
@media screen  and (max-width: 767px){
    .divstyleheder{
        flex-wrap: wrap;
    }
    .divleft{
        display: none;
    }
    .formdiv{
        flex-direction: column;
            order: 1;
            
    }
    .informacionBox{
        flex-direction: column;
    }


}