* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.divWraper{
    display: flex;

}
.divleft{
    display: flex;
    flex-direction: column;
    width: 296px;
    height: 1262px;
    background: #14171F;
    padding: 0 24px;
    justify-content: space-between;

}
.stylegap{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.divleftFooter{
    display: flex;
    padding: 0px 16px 16px 16px;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    border-bottom: 1px solid #3D414B;



}
.stylepadding{
    display: flex;
    justify-content: center;
    padding: 24px;
}
.divleftFooter span{
    color: #FFF;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    text-transform: uppercase;
    align-self: center;
    

}
.profileStyle{
    width:  248px;
    display: flex;
    justify-content: space-between; 
    padding: 12px 0;
    align-items: center;
    border-top: 1px solid #7D70BD;
    border-bottom: 1px solid #7D70BD;


}
.profileStyletwo{
    display: flex;
    align-items: center;
    gap: 8px;
}
.profileStylethree{
    display: flex;
    flex-direction: column;
}
.profileStylethree p{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.profileStylethree span{
    color: #929699;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; 

}

.iconarrowstyle{
    display: flex;
    align-items: center;

}
.liststyle{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.liststyleone{
    display: flex;
    align-items: flex-end;
    gap: 12px;
} 
.liststyleone span{
    color: #929699;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 

}
.divleftbolo{
    display: flex;
    width: 248px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    
}
.buitdiv{
    height: 1px;
align-self: stretch;
border: 1px solid #3D414B;

background: #24272E;
}
.buttonSetting{
    display: flex;
    justify-content: center;
    padding: 12px 24px;
    border-radius: 8px;
    border: 1px solid #7B62FF;
    gap: 9px;
}
.buttonSetting button{
    display: flex;
    color: #7B62FF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    gap: 12px;
    background: #14171F;



}
.divbetween{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.styledivBetween{
    display: flex;
    align-items: flex-end;
    gap: 12px;
    align-self: stretch;
}
.styledivBetween span{
    color: #929699;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}
.divright{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteiner{
    
    padding: 24px 32px;
}
.divstyleheder{
    display: flex;
    justify-content: space-between;

}


ul {
    list-style: none;
}
.navstyle ul{
    display: flex;
    gap: 24px;
    
}

.liststyle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: #2F2F2F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    
}
.styleboxheder{
    display: flex;
    align-items: center;
    gap: 10px;
}
.styleboxheder button{
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #C7C7C7;
    background: #F7F7F7;

}
h1{
    color: #2F2F2F;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
   
}
main{

}
.style{
    
    padding: 0 24px;
    background-image: url("img/image\ 2.png");
    
    

}
.styleh1{
max-width: 416px;
width: 100%;
}
.mainNav ul{
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;

}
.mainnavul{
    display: flex;
    color: #2F2F2F;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #C7C7C7;
}
.formdiv{

}